{{ define "header" }}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>🔍 gowitness - a golang screenshotting tool by @leonjza</title>
  <meta name="msapplication-TileColor" content="#206bc4" />
  <meta name="theme-color" content="#206bc4" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
  <meta name="description" content="gowitness - a golang, web screenshot utility using Chrome Headless" />
  <meta name="twitter:site" content="@leonjza">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="gowitness">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">
  <meta property="og:site_name" content="Tabler">
  <meta property="og:type" content="object">
  <meta property="og:title" content="gowitness">
  <meta property="og:description" content="gowitness - a golang, web screenshot utility using Chrome Headless">
  <!-- CSS files -->
  <link href="./tabler.min.css" rel="stylesheet" />
</head>

<body class=" layout-fluid theme-dark">
  <div class="page">

    <!-- top nav bar -->
    <header class="navbar navbar-expand-md navbar-light d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href="/">
            🔍 gowitness - a golang, web screenshot utility using Chrome Headless
          </a>
        </h1>
      </div>
    </header>

    <div class="page-wrapper">
      {{ end }}

      <!-- main content in child templates here -->

      {{ define "footer" }}
      <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item"><a href="https://github.com/sensepost/gowitness" target="_blank"
                    class="link-secondary" rel="noopener">Source code</a></li>
                <li class="list-inline-item">
                  <a href="https://twitter.com/leonjza" target="_blank" class="link-secondary" rel="noopener">
                    Made with
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24"
                      height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                      stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                    </svg>
                    by @leonjza
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

  </div> <!-- class=page -->
  <script src="./tabler.min.js"></script>
</body>

</html>
{{ end }}