{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          {{ $length := len . }}
          {{ $length }} URLs
        </div>
        <h2 class="page-title">
          Gallery View
        </h2>
      </div>

    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">

      {{ range . }}

      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">

        <div class="card card-sm">
          {{ if .IsPDF }}
          <embed class="card-img-top" src="./screenshots/{{ .Filename }}" type="application/pdf" frameBorder="0"
            scrolling="auto" height="100%" width="100%"></embed>
          {{ else }}
          <a href="./screenshots/{{ .Filename }}" target="_blank" class="d-block">
            <img src="./screenshots/{{ .Filename }}" class="card-img-top">
          </a>
          {{ end }}

          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div><a href="{{ .URL }}" target="_blank">{{ .URL }}</a></div>
                <div class="text-muted">{{ .Title }}</div>
                <div>
                  {{ range .Technologies }}
                  <span class="badge bg-blue">{{ .Value}}</span>
                  {{ end }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      {{ end }}

    </div>

  </div>
</div>

{{ template "footer" . }}