{{ define "detail" }}
{{ template "header" }}
{{ with .Url }}
<!-- Page title -->
<div class="page-header">
  <div class="row align-items-center">
    <div class="col-auto">
      <h2 class="page-title">
        URL Detail
      </h2>
    </div>
    <div class="col-auto">
      <div class="text-muted text-h5 mt-2">{{ .URL }}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-lg-4">
    <div class="card card-sm">
      <a href="/screenshots/{{ .Filename }}" target="_blank" class="d-block">
        <img loading="lazy" src="/screenshots/{{ .Filename }}" 
             onerror="this.onerror=null; this.src='/assets/img/blank.png'" class="card-img-top">
      </a>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col ml-auto d-print-none">
            <div>{{ .URL }}</div>
            <div class="text-muted">{{ .Title }}</div>
            <div class="mt-1">              
              {{ range .Technologies }}
              <span class="badge bg-blue mb-1">{{ .Value}}</span>
              {{ end }}
            </div>
            <div class="mt-1">
              {{ end }}
              {{ range $tag, $checked := .Tags }}
              {{ if $checked }}
              <span class="badge bg-{{$tag.Color}} mb-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tag" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="8.5" cy="8.5" r="1" fill="currentColor"></circle>
                  <path d="M4 7v3.859c0 .537 .213 1.052 .593 1.432l8.116 8.116a2.025 2.025 0 0 0 2.864 0l4.834 -4.834a2.025 2.025 0 0 0 0 -2.864l-8.117 -8.116a2.025 2.025 0 0 0 -1.431 -.593h-3.859a3 3 0 0 0 -3 3z"></path>
                </svg>
                {{if $tag.Name }}{{ $tag.Name}} {{else}}&nbsp;&nbsp;&nbsp;&nbsp;{{end}}</span>
                {{ end }}
                {{ end }}
                {{ with .Url }}
            </div>
          </div>
          <div class="col-auto ml-auto d-print-none">
            <a href="#" class="text-muted">
              {{ .ResponseCode}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-8">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Summary</h3>
          </div>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col ml-auto d-print-none">
                <p>
                  <kbd>{{ .URL }}</kbd> responded with <kbd>{{ .ResponseReason}}</kbd>
                  <span>
                  </span>
                </p>
              </div>
              <div class="col-auto ml-auto d-print-none">
                <a href="{{ .URL }}" target="_blank" class="btn btn-sm btn-light float-right">
                  Open URL
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Response Headers</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-vcenter">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Headers }}
              <tr>
                <td class="text-muted text-nowrap">
                  <kbd>{{ .Key }}</kbd>
                </td>
                <td class="text-muted">
                  <kbd>{{ .Value }}</kbd>
                </td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{ if .TLS }}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">TLS Information</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-vcenter">
            <thead>
              <tr>
                <th>ServerName</th>
                <th>Version</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">
                  <kbd>{{ .TLS.ServerName }}</kbd>
                </td>
                <td class="text-muted">
                  <kbd>{{ .TLS.Version }}</kbd>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">TLS Certificates</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-vcenter">
            <thead>
              <tr>
                <th>Subject CN</th>
                <th>Issuer CN</th>
                <th>Sig Algorithm</th>
              </tr>
            </thead>
            <tbody>
              {{ range .TLS.TLSCertificates }}
              <tr>
                <td class="text-muted">
                  <kbd>{{ .SubjectCommonName }}</kbd>
                </td>
                <td class="text-muted">
                  <kbd>{{ .IssuerCommonName }}</kbd>
                </td>
                <td class="text-muted">
                  <kbd>{{ .SignatureAlgorithm }}</kbd>
                </td>
              </tr>
              {{ $out := .}}
              {{ if .DNSNames }}
              <tr>
                <td colspan="3" class="text-muted">
                  DNS Names for {{ $out.SubjectCommonName }}:
                  {{ range .DNSNames }}
                  <kbd>"{{ .Name }}" </kbd>
                  {{ end }}
                </td>     
              </tr>
              {{ end }}
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{ end }}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Notes</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col ml-auto d-print-none">
          <button class="btn btn-sm btn-info ml-2" data-bs-toggle="modal" data-bs-target="#modal-notes{{ .ID }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"></path>
              <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"></path>
              <line x1="16" y1="5" x2="19" y2="8"></line>
           </svg>
            Edit Notes
          </button>
          </div>
        </div>
        {{ if .Filter.GenericName }}
        <div class="table-responsive">
          <table class="table table-vcenter">
            <thead>
              <tr>
                <th>Generic Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">
                  <kbd>{{ .Filter.GenericName }}</kbd>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {{ end }}
        {{ if .Filter.Notes }}
        <div class="table-responsive">
          <table class="table table-vcenter">
            <thead>
              <tr>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-muted">
                  <kbd>{{ .Filter.Notes }}</kbd>
                </td>
              </tr>
            </tbody>
          </table>
        </div>{{ end }}
      </div>
    </div>
    <div class="modal fade" id="modal-notes{{ .ID }}" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border border-white">
          <form action="/updaterecord" method="post">
            <input type="hidden" name="id" value="{{ .ID }}"/>
            <input type="hidden" name="action" value="detail"/>
            <div class="modal-header">
              <h5 class="modal-title">Additional Details - All Fields Are Optional</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mb-3 align-items-end">
                <div class="col">
                  <label class="form-label">Generic Name</label>
                  <input name="genericname" type="text" class="form-control" value="{{ .Filter.GenericName }}">
                </div>
              </div>
              <div class="mb-3">
                <div>
                  <label class="form-label">Additional Notes</label>
                  <textarea name="notes" class="form-control">{{ .Filter.Notes }}</textarea>
                </div>
              </div>
              <div class="mb-3">
                <div class="row g-2 form-selectgroup">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="tagdropdown" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tags" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z"></path>
                        <path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116"></path>
                        <path d="M6 9h-.01"></path>
                    </svg>
                      Select Tags
                    </button>
                    {{ end }}
                    <div class="dropdown-menu" id="tagdropdown">
                      {{ range $tag, $checked := .Tags }}
                      <label class="dropdown-item">
                        <input class="form-check-input m-0 me-2" type="checkbox" name="tag" value="{{$tag.Color}}">
                        {{$tag.Name}}
                        <span class="badge bg-{{$tag.Color}} ms-auto">&nbsp;&nbsp;&nbsp;</span>
                      </label>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
              Cancel</button>
              <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l5 5l10 -10"></path>
              </svg>
            Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{ template "footer" }}
{{ end }}