{{ define "footer" }}

          </div>
        <footer class="footer footer-transparent">
          <div class="container">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ml-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="https://twitter.com/leonjza" class="link-secondary">Twitter</a></li>
                  <li class="list-inline-item"><a href="https://github.com/sensepost/gowitness" target="_blank" class="link-secondary">Source code</a></li>
                  <li class="list-inline-item"><a href="https://tabler.io/" target="_blank" class="link-secondary">Tabler UI</a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                gowitness
              </div>
            </div>
          </div>
        </footer>

      </div>
    </div>
    <!-- Tabler Core -->
    <script src="/assets/js/tabler.min.js"></script>
    <script>
      document.body.style.display = "block"
    </script>
  </body>
</html>
{{ end }}