{{ define "navigation" }}
<header class="navbar navbar-expand-md navbar-dark">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="." class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
      🔍 gowitness
    </a>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/" >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><rect x="8" y="8" width="8" height="8" rx="1"></rect><line x1="3" y1="8" x2="4" y2="8"></line><line x1="3" y1="16" x2="4" y2="16"></line><line x1="8" y1="3" x2="8" y2="4"></line><line x1="16" y1="3" x2="16" y2="4"></line><line x1="20" y1="8" x2="21" y2="8"></line><line x1="20" y1="16" x2="21" y2="16"></line><line x1="8" y1="20" x2="8" y2="21"></line><line x1="16" y1="20" x2="16" y2="21"></line></svg>
              <span class="nav-link-title">
                Gallery View
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/table" >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="4" y1="6" x2="9.5" y2="6"></line><line x1="4" y1="10" x2="9.5" y2="10"></line><line x1="4" y1="14" x2="9.5" y2="14"></line><line x1="4" y1="18" x2="9.5" y2="18"></line><line x1="14.5" y1="6" x2="20" y2="6"></line><line x1="14.5" y1="10" x2="20" y2="10"></line><line x1="14.5" y1="14" x2="20" y2="14"></line><line x1="14.5" y1="18" x2="20" y2="18"></line></svg>
              <span class="nav-link-title">
                Table View
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/submit" >
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="13 3 13 10 19 10 11 21 11 14 5 14 13 3"></polyline></svg>
              <span class="nav-link-title">
                Submit URL
              </span>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>
{{ end }}
