{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          {{ .Data.URL }}
        </div>
        <h2 class="page-title">
          URL Details
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row">

      <!-- left column -->
      <div class="col-sm-12 col-md-4 col-lg-5 col-xl-5">
        <div class="row row-cards">

          <div class="col-12">
            <div class="card card-sm">
              <a href="/screenshots/{{ .Data.Filename }}" target="_blank" class="d-block">
                <img loading="lazy" src="/screenshots/{{ .Data.Filename }}"
                  onerror="this.onerror=null; this.src='/assets/img/blank.png'" class="card-img-top">
              </a>

              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div>
                    <div>{{ .Data.URL }}</div>
                    <div class="text-muted">{{ .Data.Title }}</div>
                    <div>
                      {{ range .Data.Technologies }}
                      <span class="badge bg-blue">{{ .Value}}</span>
                      {{ end }}
                    </div>
                  </div>
                  <div class="ms-auto text-muted">
                    HTTP {{ .Data.ResponseCode}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Console Log</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Data.Console }}
                    <tr>
                      <td class="text-muted text-nowrap">
                        {{ .Type }}
                      </td>
                      <td class="text-muted">
                        <pre>{{ .Value }}</pre>
                      </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {{ if .Data.TLS }}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">TLS Information</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-vcenter">
                  <thead>
                    <tr>
                      <th>Subject CN</th>
                      <th>Issuer CN</th>
                      <th>Sig Algorithm</th>
                      <th>DNS Names</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Data.TLS.TLSCertificates }}
                    <tr>
                      <td>
                        {{ .SubjectCommonName }}
                      </td>
                      <td class="text-muted">
                        {{ .IssuerCommonName }}
                      </td>
                      <td class="text-muted">
                        {{ .SignatureAlgorithm }}
                      </td>
                      {{ $out := .}}
                      {{ if .DNSNames }}
                      <td>
                        <ul>
                          {{ range .DNSNames }}
                          <li>"{{ .Name }}" </li>
                          {{ end }}
                        </ul>
                      </td>
                    </tr>
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{ end }}

        </div>
      </div>

      <!-- right column -->
      <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7">
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Summary</h3>
              </div>
              <div class="card-body">
                <p>
                  <kbd>{{ .Data.URL }}</kbd> responded with <kbd>{{ .Data.ResponseReason }}</kbd>
                  <span>
                    <a href="{{ .Data.URL }}" target="_blank" class="btn-sm btn-light float-right">
                      Open URL
                    </a>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Response Headers</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Data.Headers }}
                    <tr>
                      <td class="text-muted text-nowrap">
                        <kbd>{{ .Key }}</kbd>
                      </td>
                      <td class="text-muted">
                        <kbd>{{ .Value }}</kbd>
                      </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Network Log</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>IP</th>
                      <th>URL</th>
                      <th>Error</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Data.Network }}
                    <tr>
                      <td class="text-muted text-nowrap">
                        {{ .StatusCode }}
                      </td>
                      <td class="text-muted">
                        {{ .IP }}
                      </td>
                      <td class="text-nowrap">{{ .URL }}</td>
                      <td>{{ .Error }}</td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{ template "footer" . }}