{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          {{ .Data.URL }}
        </div>
        <h2 class="page-title">
          URL Details
        </h2>
      </div>

      <div class="col-12 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
          <a href='{{ URL "/details/" }}{{ .Previous }}'
            class="btn d-none d-sm-inline-block {{ if eq .Previous 0 }}disabled{{ end }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-left" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="11 7 6 12 11 17"></polyline>
              <polyline points="17 7 12 12 17 17"></polyline>
            </svg>
            Previous
          </a>

          <a href='{{ URL "/details/" }}{{ .Next }}'
            class="btn btn-primary d-none d-sm-inline-block {{ if gt .Next .Max }}disabled{{ end }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevrons-right" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="7 7 12 12 7 17"></polyline>
              <polyline points="13 7 18 12 13 17"></polyline>
            </svg>
            Next
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row">

      <!-- left column -->
      <div class="col-sm-12 col-md-4 col-lg-5 col-xl-5">
        <div class="row row-cards">

          <div class="col-12">
            <div class="card card-sm">
              {{ if .Data.IsPDF }}
                <embed class="card-img-top" src='{{ URL "/screenshots/" }}{{ .Data.Filename }}' type="application/pdf" frameBorder="0"
                  scrolling="auto" height="100%" width="100%"></embed>
              {{ else if .Data.Screenshot }}
                <a class="d-block">
                  <img loading="lazy" src="data:image/png;base64,{{ .Data.Screenshot }}"; class="card-img-top">
                </a>
              {{ else }}
                <a href='{{ URL "/screenshots/" }}{{ .Data.Filename }}' target="_blank" class="d-block">
                  <img loading="lazy" src='{{ URL "/screenshots/" }}{{ .Data.Filename }}'
                    onerror="this.onerror=null; this.src='{{ URL "/assets/img/blank.png" }}'" class="card-img-top">
              {{ end }}
              <div class="card-footer">
                <div class="d-flex">
                  <div>
                    <div>{{ .Data.URL }}</div>
                    <div class="text-muted">{{ .Data.Title }}</div>
                    <div>
                      {{ range .Data.Technologies }}
                      <span class="badge bg-blue">{{ .Value}}</span>
                      {{ end }}
                    </div>
                  </div>
                  <a href="{{ .Data.URL }}" target="_blank" class="btn btn-primary ms-auto">Visit URL</a>
                </div>
              </div>
            </div>
          </div>

          {{ $length := len .Data.Console }}
          {{ if gt $length 0 }}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Console Log</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Data.Console }}
                    <tr>
                      <td class="text-muted text-nowrap">
                        {{ .Type }}
                      </td>
                      <td class="text-muted">
                        <pre>{{ .Value }}</pre>
                      </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{ end }}

          {{ if .Data.TLS }}
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">TLS Information</h3>
              </div>
              <div class="card-body p-0">

                <div class="table-responsive">
                  <table class="table table-sm table-vcenter card-table">
                    <thead>
                      <tr>
                        <th>Subject CN</th>
                        <th>Issuer CN</th>
                        <th>Sig Algorithm</th>
                        <th>DNS Names</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{ range .Data.TLS.TLSCertificates }}
                      <tr>
                        <td>
                          {{ .SubjectCommonName }}
                        </td>
                        <td class="text-muted">
                          {{ .IssuerCommonName }}
                        </td>
                        <td class="text-muted">
                          {{ .SignatureAlgorithm }}
                        </td>
                        {{ $out := .}}
                        {{ if .DNSNames }}
                        <td>
                          <ul>
                            {{ range .DNSNames }}
                            <li>"{{ .Name }}" </li>
                            {{ end }}
                          </ul>
                        </td>
                        {{ end }}
                      </tr>
                      {{ end }}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {{ end }}

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DOM Dump</h3>

                <div class="card-actions">
                  <a href='{{ URL "/details/" }}{{ .ID }}/dom' class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24"
                      height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                      stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                      <polyline points="7 11 12 16 17 11"></polyline>
                      <line x1="12" y1="4" x2="12" y2="16"></line>
                    </svg>
                    Download DOM
                  </a>
                </div>
              </div>
              <div class="card-body">
                <pre>{{ .Data.DOM }}</pre>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- right column -->
      <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7">
        <div class="row row-cards">

          <div class="col-12">
            <div class="card">
              <div class="ribbon
              {{ if and (ge .Data.ResponseCode 200) (le .Data.ResponseCode 299) }}
              bg-green
              {{ else if and (ge .Data.ResponseCode 300) (le .Data.ResponseCode 399) }}
              bg-blue
              {{ else if and (ge .Data.ResponseCode 400) (le .Data.ResponseCode 500) }}
              bg-yellow
              {{ else if and (ge .Data.ResponseCode 500) (le .Data.ResponseCode 600) }}
              bg-red
              {{ end }}
              ">HTTP {{ .Data.ResponseCode }}</div>
              <div class="card-status-top 
              {{ if and (ge .Data.ResponseCode 200) (le .Data.ResponseCode 299) }}
              bg-success
              {{ else if and (ge .Data.ResponseCode 300) (le .Data.ResponseCode 399) }}
              bg-primary
              {{ else if and (ge .Data.ResponseCode 400) (le .Data.ResponseCode 500) }}
              bg-warning
              {{ else if and (ge .Data.ResponseCode 500) (le .Data.ResponseCode 600) }}
              bg-danger
              {{ end }}
              "></div>
              <div class="card-header">
                <h3 class="card-title">Response Headers</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Data.Headers }}
                    <tr>
                      <td class="text-nowrap">
                        {{ .Key }}
                      </td>
                      <td class="text-muted">
                        {{ .Value }}
                      </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Network Logs</h3>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Code</th>
                      <th>IP</th>
                      <th>Error</th>
                      <th>URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .Data.Network }}
                    <tr>
                      <td data-bs-toggle="tooltip" data-bs-placement="top"
                        title='{{ .Time.Format "Jan 02, 2006 15:04:05" }}'>
                        {{ if (eq .RequestType 0) }}
                        HTTP
                        {{ else if (eq .RequestType 1) }}
                        WS
                        {{ end }}
                      </td>
                      <td class="text-muted text-nowrap">
                        {{ if (eq 0 .StatusCode)}}
                        <!-- no status code. -->
                        {{ else }}
                        {{ if and (ge .StatusCode 200) (le .StatusCode 299) }}
                        <span class="badge bg-green">{{ .StatusCode }}</span>
                        {{ else if and (ge .StatusCode 300) (le .StatusCode 399) }}
                        <span class="badge bg-blue">{{ .StatusCode }}</span>
                        {{ else if and (ge .StatusCode 400) (le .StatusCode 500) }}
                        <span class="badge bg-yellow">{{ .StatusCode }}</span>
                        {{ else if and (ge .StatusCode 500) (le .StatusCode 600) }}
                        <span class="badge bg-red">{{ .StatusCode }}</span>
                        {{ else }}
                        <span class="badge">{{ .StatusCode }}</span>
                        {{ end }}
                        {{ end }}
                      </td>
                      <td class="text-muted">
                        {{ .IP }}
                      </td>
                      <td>{{ .Error }}</td>
                      <td class="text-nowrap">
                        <a href="{{ .URL }}" target="_blank">{{ .URL }}</a>
                      </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{ template "footer" . }}