{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          {{ .Data.Count }} URLs
        </div>
        <h2 class="page-title">
          Gallery View
        </h2>
      </div>

      <!-- Page title actions -->
      <div class="col-12 col-md-auto ms-auto d-print-none">
        <div class="btn-list">
          {{ if .Data.Ordered }}
          <a href='{{ URL "/gallery" }}?perception_sort=false&limit={{ .Data.Limit }}&page={{ .Data.Page }}'
            class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sort-ascending-2" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M14 9l3 -3l3 3"></path>
              <rect x="5" y="5" width="5" height="5" rx=".5"></rect>
              <rect x="5" y="14" width="5" height="5" rx=".5"></rect>
              <path d="M17 6v12"></path>
            </svg>
            Disable Perception Sort
          </a>
          {{ else }}
          <a href='{{ URL "/gallery" }}?perception_sort=true&limit={{ .Data.Limit }}&page={{ .Data.Page }}'
            class="btn btn-primary d-none d-sm-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sort-descending-2" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <rect x="5" y="5" width="5" height="5" rx=".5"></rect>
              <rect x="5" y="14" width="5" height="5" rx=".5"></rect>
              <path d="M14 15l3 3l3 -3"></path>
              <path d="M17 18v-12"></path>
            </svg>
            Enable Perception Sort
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">

      {{ $length := len .Data.Records }}
      {{ if eq $length 0 }}

      <div class="container-xl d-flex flex-column justify-content-center">
        <div class="empty">
          <p class="empty-title h3">No results found</p>
          <p class="empty-subtitle text-muted">
            Double check that your report server can see the database.
            Check out the <kbd>--db-path</kbd> flag for more information.
          </p>
        </div>
      </div>

      {{ else }}
      {{ range .Data.Records}}

      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">

        <div class="card card-sm">
          {{ if .IsPDF }}
            <embed src='{{ URL "/screenshots/" }}{{ .Filename }}' type="application/pdf" frameBorder="0" scrolling="auto"
              height="100%" width="100%"></embed>
            {{ else if .Screenshot }}
            <a class="d-block">
              <img loading="lazy" src="data:image/png;base64,{{ .Screenshot }}" alt="Screenshot" class="card-img-top">
            </a>
          {{ else }}
            <a href='{{ URL "/screenshots/" }}{{ .Filename }}' target="_blank" class="d-block">
              <img loading="lazy" src='{{ URL "/screenshots/" }}{{ .Filename }}'
                onerror="this.onerror=null; this.src='{{ URL "/assets/img/blank.png" }}'" class="card-img-top"/>
            </a>
          {{ end }}

          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <div><a href='{{ .URL }}' target="_blank">{{ .URL }}</a></div>
                <div class="text-muted">{{ .Title }}</div>
                <div>
                  {{ range .Technologies }}
                  <span class="badge bg-blue">{{ .Value}}</span>
                  {{ end }}
                </div>
              </div>
              <div class="ms-auto">
                <a href='{{ URL "/details/" }}{{ .ID }}' class="text-muted">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="12" cy="12" r="2"></circle>
                    <path
                      d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7">
                    </path>
                  </svg>
                  View
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

      {{ end }}
      {{ end }}

    </div>

    <hr>


    <!-- pager -->
    <div class="d-flex">
      <ul class="pagination ms-auto">
        <!-- first page -->
        <li class="page-item {{ if le .Data.Page 1 }}disabled{{ end }}">
          <a class="page-link"
            href='{{ URL "/gallery" }}?{{ if .Data.Ordered }}perception_sort=true&{{ end }}limit={{ .Data.Limit }}&page={{ .Data.PrevPage }}'
            tabindex="-1" {{ if le .Data.Page 1 }}aria-disabled="true" {{ end }}>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="15 6 9 12 15 18"></polyline>
            </svg>
            prev
          </a>
        </li>

        <!-- previous links -->
        {{ range $p := .Data.PrevPageRange }}
        <li class="page-item">
          <a class="page-link"
            href='{{ URL "/gallery" }}?{{ if $.Data.Ordered }}perception_sort=true&{{ end }}limit={{ $.Data.Limit }}&page={{ $p }}'>
            {{ $p }}
          </a>
        </li>
        {{ end }}

        <!-- current page -->
        <li class="page-item active">
          <a class="page-link" href="#">{{ .Data.Page }}</a>
        </li>

        <!-- next page range -->
        {{ range $p := .Data.NextPageRange }}
        <li class="page-item">
          <a class="page-link"
            href='{{ URL "/gallery" }}?{{ if $.Data.Ordered }}perception_sort=true&{{ end }}limit={{ $.Data.Limit }}&page={{ $p }}'>
            {{ $p }}
          </a>
        </li>
        {{ end }}

        <!-- next -->
        <li class="page-item {{ if eq .Data.Page .Data.NextPage }}disabled{{ end }}">
          <a class="page-link"
            href='{{ URL "/gallery" }}?{{ if .Data.Ordered }}perception_sort=true&{{ end }}limit={{ .Data.Limit }}&page={{ .Data.NextPage }}'>
            next
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <polyline points="9 6 15 12 9 18"></polyline>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{ template "footer" . }}