{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Search Results for <kbd>{{ .Term }}</kbd>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">

    <div class="row row-cards">

      {{ $urlLength := len .URLS }}
      {{ if gt $urlLength 0 }}
      <div class="col-12">
        <div class="box">
          <div class="card">
            <div class="card-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseURL"
                aria-expanded="true">
                <span><b>{{ $urlLength }}</b> URL Results</span>
              </button>
            </div>
            <div id="collapseURL" class="card-body collapse show">
              <div class="table-responsive">
                <table class="table table-hover table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Code</th>
                      <th>In DOM</th>
                      <th>Orignal URL</th>
                      <th>Final URL</th>
                      <th>Title</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .URLS}}
                    <tr>
                      <td>
                        <a href='{{ URL "/details" }}/{{ .ID }}'>Detail</a>
                      </td>
                      <td class="text-muted">
                        {{ if (eq 0 .ResponseCode)}}
                        <!-- no status code. -->
                        {{ else }}
                        {{ if and (ge .ResponseCode 200) (le .ResponseCode 299) }}
                        <span class="badge bg-green">{{ .ResponseCode }}</span>
                        {{ else if and (ge .ResponseCode 300) (le .ResponseCode 399) }}
                        <span class="badge bg-blue">{{ .ResponseCode }}</span>
                        {{ else if and (ge .ResponseCode 400) (le .ResponseCode 500) }}
                        <span class="badge bg-yellow">{{ .ResponseCode }}</span>
                        {{ else if and (ge .ResponseCode 500) (le .ResponseCode 600) }}
                        <span class="badge bg-red">{{ .ResponseCode }}</span>
                        {{ else }}
                        <span class="badge">{{ .ResponseCode }}</span>
                        {{ end }}
                        {{ end }}
                      </td>
                      <td>
                        {{ if Contains .DOM $.Term }}
                        <span class="badge">Yes</span>
                        {{ end }}
                      </td>
                      <td class="text-muted">
                        <a href="{{ .URL }}" target="_blank">{{ .URL }}</a>
                      </td>
                      <td class="text-muted">
                        <a href="{{ .FinalURL }}" target="_blank">{{ .URL }}</a>
                      </td>
                      <td class="text-muted">
                        {{ .Title }}
                      </td>
                    </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      {{ if gt .TechCount 0 }}
      <div class="col-12">
        <div class="box">
          <div class="card">
            <div class="card-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTechnology" aria-expanded="false">
                <span>{{ .TechCount }} Website Technology Results</span>
              </button>
            </div>
            <div id="collapseTechnology" class="collapse card-body">
              <div class="table-responsive">
                <table class="table table-hover table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>URL</th>
                      <th>Technology</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $url := .Tech }}
                    {{ range $tech := $url.Technologies}}
                    <tr>
                      <td>
                        <a href='{{ URL "/details" }}/{{ $url.ID }}'>Detail</a>
                      </td>
                      <td>{{ $url.URL }}</td>
                      <td>{{ $tech.Value }}</td>
                    </tr>
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      {{ if gt .HeadersCount 0 }}
      <div class="col-12">
        <div class="box">
          <div class="card">
            <div class="card-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseHeaders" aria-expanded="false">
                <span>{{ .HeadersCount }} Header Results</span>
              </button>
            </div>
            <div id="collapseHeaders" class="collapse card-body">
              <div class="table-responsive">
                <table class="table table-hover table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>URL</th>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $url := .Headers }}
                    {{ range $header := $url.Headers}}
                    <tr>
                      <td>
                        <a href='{{ URL "/details" }}/{{ $url.ID }}'>Detail</a>
                      </td>
                      <td>{{ $url.URL }}</td>
                      <td class="text-nowrap">{{ .Key }}</td>
                      <td>{{ .Value }}</td>
                    </tr>
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      {{ if gt .ConsoleCount 0 }}
      <div class="col-12">
        <div class="box">
          <div class="card">
            <div class="card-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseConsole" aria-expanded="false">
                <span>{{ .ConsoleCount }} Console Logs</span>
              </button>
            </div>
            <div id="collapseConsole" class="collapse card-body">
              <div class="table-responsive">
                <table class="table table-hover table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>URL</th>
                      <th>Key</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $url := .Console }}
                    {{ range $log := $url.Console }}
                    <tr>
                      <td>
                        <a href='{{ URL "/details" }}/{{ $url.ID }}'>Detail</a>
                      </td>
                      <td>{{ $url.URL }}</td>
                      <td class="text-nowrap">{{ .Type }}</td>
                      <td>
                        <pre>{{ .Value }}</pre>
                      </td>
                    </tr>
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

      {{ if gt .NetworkCount 0 }}
      <div class="col-12">
        <div class="box">
          <div class="card">
            <div class="card-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseNetwork" aria-expanded="false">
                <span>{{ .NetworkCount }} Network Logs</span>
              </button>
            </div>
            <div id="collapseNetwork" class="collapse card-body">
              <div class="table-responsive">
                <table class="table table-hover table-sm table-vcenter card-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Type</th>
                      <th>Code</th>
                      <th>IP</th>
                      <th>Error</th>
                      <th>URL</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $url := .Network }}
                    {{ range $log := $url.Network }}
                    <tr>
                      <td>
                        <a href='{{ URL "/details" }}/{{ $url.ID }}'>Detail</a>
                      </td>
                      <td>
                        {{ if (eq $log.RequestType 0) }}
                        HTTP
                        {{ else if (eq $log.RequestType 1) }}
                        WS
                        {{ end }}
                      </td>
                      <td class="text-muted text-nowrap">
                        {{ if (eq 0 $log.StatusCode)}}
                        <!-- no status code. -->
                        {{ else }}
                        {{ if and (ge $log.StatusCode 200) (le $log.StatusCode 299) }}
                        <span class="badge bg-green">{{ .StatusCode }}</span>
                        {{ else if and (ge $log.StatusCode 300) (le $log.StatusCode 399) }}
                        <span class="badge bg-blue">{{ $log.StatusCode }}</span>
                        {{ else if and (ge $log.StatusCode 400) (le $log.StatusCode 500) }}
                        <span class="badge bg-yellow">{{ $log.StatusCode }}</span>
                        {{ else if and (ge $log.StatusCode 500) (le $log.StatusCode 600) }}
                        <span class="badge bg-red">{{ $log.StatusCode }}</span>
                        {{ else }}
                        <span class="badge">{{ $log.StatusCode }}</span>
                        {{ end }}
                        {{ end }}
                      </td>
                      <td class="text-muted">
                        {{ $log.IP }}
                      </td>
                      <td>{{ $log.Error }}</td>
                      <td class="text-nowrap">{{ $log.URL }}</td>
                    </tr>
                    {{ end }}
                    {{ end }}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</div>

{{ template "footer" . }}