{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Submit a new URL
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <form action='{{ URL "/submit" }}' method="post">
          <div class="mb-3">
            <label class="form-label">URL to screenshot</label>
            <div class="input-group input-group-flat">
              <input type="text" name="url" placeholder=" https://www.google.com" class="form-control pl-1">
            </div>
            <div class="form-hint">
              The target URL will have a screenshot taken and other HTTP related information stored in the DB.
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-light">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
