{{ template "header" . }}

<!-- content header bar -->
<div class="container-xl">
  <!-- Page title -->
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          {{ $length := len .Data }}
          {{ $length }} URLs
        </div>
        <h2 class="page-title">
          URL Listing
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">

    <div class="box">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-hover table-sm table-vcenter card-table">
            <thead>
              <tr>
                <th></th>
                <th>Probed At</th>
                <th>Code</th>
                <th>Orignal URL</th>
                <th>Final URL</th>
                <th>Network Logs</th>
                <th>Console Logs</th>
                <th>Technologies</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Data}}
              <tr>
                <td>
                  <a href='{{ URL "/details" }}/{{ .ID }}'>Detail</a>
                </td>
                <td>{{ .CreatedAt.Format "Jan 02, 2006 15:04:05" }}</td>
                <td class="text-muted">
                  {{ if (eq 0 .ResponseCode)}}
                  <!-- no status code. -->
                  {{ else }}
                  {{ if and (ge .ResponseCode 200) (le .ResponseCode 299) }}
                  <span class="badge bg-green">{{ .ResponseCode }}</span>
                  {{ else if and (ge .ResponseCode 300) (le .ResponseCode 399) }}
                  <span class="badge bg-blue">{{ .ResponseCode }}</span>
                  {{ else if and (ge .ResponseCode 400) (le .ResponseCode 500) }}
                  <span class="badge bg-yellow">{{ .ResponseCode }}</span>
                  {{ else if and (ge .ResponseCode 500) (le .ResponseCode 600) }}
                  <span class="badge bg-red">{{ .ResponseCode }}</span>
                  {{ else }}
                  <span class="badge">{{ .ResponseCode }}</span>
                  {{ end }}
                  {{ end }}
                </td>
                <td class="text-muted">
                  <a href="{{ .URL }}" target="_blank">{{ .URL }}</a>
                </td>
                <td class="text-muted">
                  <a href="{{ .FinalURL }}" target="_blank">{{ .URL }}</a>
                </td>
                <td>
                  {{ $length := len .Network }}
                  {{ $length }}
                </td>
                <td>
                  {{ $length := len .Console }}
                  {{ $length }}
                </td>
                <td>
                  {{ $length := len .Technologies }}
                  {{ $length }}
                </td>
                <td class="text-muted">
                  {{ .Title }}
                </td>

              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

{{ template "footer" . }}